{
  "presets": [
    ["env", { "modules": false }],
    "stage-0",
    "react"
  ],
  "env": {
    "cjs": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
